/*TODO
    choose theme
    choose color palette for main
    choose typographies
*/

:root {
    --menuHeight: 10vh;
    --black: #0E131F; /*alt  180030 or #310A31 or #0E131F*/
    --white: #F0F0F0;
    

    --mainBackgroundColor: #38405F ;
    --secondaryColor: #BCEDF6   ;

    --debugColor: #ff00dc;
}

* {
    color: var(--white);
}

html, body {
    position: relative;
    
    padding: 0%;
    margin: 0;

    width: 100vw;

    overflow-x: clip;
}

/* Default element parameters */
.verticalCenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
button {
    background-color: transparent;

    border: 2px solid var(--white);
    text-align: center;
}
button:hover {
    background-color: var(--white);
    color: var(--black);
}

.topGradient, .bottomGradient {
    position: absolute;
    width: 100%;
    height: 10vh;
}
.bottomGradient{
    background-image: linear-gradient(transparent, var(--mainBackgroundColor));
    bottom: 0;
}
.topGradient{
    background-image: linear-gradient(var(--mainBackgroundColor), transparent);
    top: 0;
}

.translatedUp {
    transform: translateY(calc(-1 * var(--menuHeight)));
}

/* Menus */
#leftMenu, #rightMenu {
    top: 0;

    width: 51vw;
    height: var(--menuHeight);

    display: flex;
    z-index: 5;
}
#leftMenu {
    position: fixed;
    justify-content: flex-end;
    z-index: 6;
}

#logoTitle {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 7;

    height: 100%;
    width: 100%;

    padding: 10px;
    padding-right: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
#logoTitle > img {
    height: 80%;
    object-fit: contain;
}
#logoTitle > p {
    margin: 5px;
    flex: 1 1 auto;
}

#rightMenu {
    position: sticky;
    right: 0;
    top: var(--menuHeight);
    margin-left: auto;
}
#rightMenu button {
    position: absolute;
    right: 50%;
    transform: translate(50%);
    
    height: 80%;
    width: 50%;
    align-self: center;
    
    z-index: 6;
}

.square {
    position: absolute;
    background-color: var(--black);
    
    transform: skew(-45deg);

    height: 100%;
    min-width: 150%;
    border-bottom: 2px solid var(--white);
}

#sectionsMenu {
    position: sticky;
    padding: 5px 0px;
    top: calc(2 * var(--menuHeight) - 2px);
    background-color: var(--black);
    width: 100%;

    border-bottom: 2px solid var(--white);
    z-index: 6;
    
    display: flex;
    justify-content: space-evenly;
}


/* Header */
header {
    position: sticky;
    top: 0;
    background-color: var(--white);
    width: 100vw;

    overflow: hidden;
    z-index: -1;
}
header > img {
    position: relative;
    top: 0;
    display: block;
    width: 200%;
    /*filter: blur(2px);*/
}
header > #titleDiv {
    font-family: monospace;
    font-style: italic;
    position: absolute;
    left: 10%;
    width: 60%;
}
h2 {
    opacity: 0.8;
}

/* Intro section*/
#introSection {
    position: relative;
    width: 100%;
    height: 20vh;
    background-color: var(--black);
    z-index: 4;
}
#introSection > #quote {
    margin: 0% 10%;
    position: relative;
}
#quote > p {
    position: relative;
    left: 10%;
}

/* Main content */
main {
    position: relative;
    background-color: var(--white);

    overflow: auto;
}

section {
    width: 80%;
    aspect-ratio: 1/2;

    margin: 10%;
    border-radius: 5%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}
section h1, section p {
    color: var(--black);
    text-align: justify;
    margin: 5px;
}
section > img {
    width: 100%;
}

.bottomHalf {
    position: relative;
    padding: 5% 10%;
    flex: 1;

    background-color: var(--secondaryColor);

    color: var(--black);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--menuHeight);
    
    background-color: var(--black);
    border-top: 2px solid var(--white);
    padding-top: 15px;
    text-align: center;

    z-index: 2;
}